[submodule "deps/gyp"]
	path = deps/gyp
	url = https://chromium.googlesource.com/external/gyp.git
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/joyent/libuv.git
[submodule "deps/buffer"]
	path = deps/buffer
	url = https://github.com/clibs/buffer.git
[submodule "deps/yajl"]
	path = deps/yajl
	url = https://github.com/lloyd/yajl.git
